mongoBackup:
  name: mongo-backup
  image:
    repository: mongo
    tag: latest
  schedule: '* * * * *'
  env:
    tz: 'Asia/Bangkok'
    backupVersion: 'v0.0.1'
    backupDir: '/backups/mongo'

mariadbBackup:
  name: mariadb-backup
  image:
    repository: mariadb
    tag: 10-jammy
  schedule: '* * * * *'
  env:
    tz: 'Asia/Bangkok'
    backupVersion: 'v0.0.1'
    backupDir: '/backups/mariadb'

sqlserverBackup:
  name: sqlserver-backup
  image:
    repository: mcr.microsoft.com/mssql/server
    tag: 2022-latest
  schedule: '* * * * *'
  env:
    tz: 'Asia/Bangkok'
    backupVersion: 'v0.0.1'
    backupDir: '/var/opt/mssql/backup' # /var/opt/mssql/backup

staticBackup:
  name: static-backup
  image:
    repository: 13angs/kubectl
    tag: latest
  schedule: '* * * * *'
  env:
    tz: 'Asia/Bangkok'
    backupVersion: 'v0.0.1'
    backupDir: '/var/opt/mssql/backup' # /var/opt/mssql/backup
    